<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>testing that noel is still alive</h1>
  <ul>

  </ul>
  <p><%  @links.each do |line| %>
     <%= line %>
     <% end %>
   </p>
</body>
</html>
